<ion-view view-title="PLN Token">
  <ion-content class="padding" class="has-header">
    
	<h4>ID Pelanggan (56604383242)</h4>
	<ul class="list">
		<li class="item" style="padding: 0em 0.6em"><input type="number" placeholder="56604383242" ng-model="idpel"></li>
	</ul>
	
	<h4>Nominal</h4>
	<ul class="list">
		<li ng-repeat="item in itemOperator | orderBy:''" >
			<a class="item" href="#/app/token/{{item.product_id}}/{{noHape}}">
				<h3>{{item.product_name}} <span style="float: right;">{{item.price | currency:"Rp. ":0}}</span></h3>
				<span ng-show="item.ket">{{item.ket}}</span>
			</a>
		</li>
	</ul>

  </ion-content>
</ion-view>
