<ion-view view-title="Pulsa">
  <ion-content class="padding" class="has-header">
    
	<div class="row">
	  <div class="col">
			<input type="number" placeholder="Nomer Handphone" ng-model="noHape" ng-change="cekNomer(noHape)">
	  </div>
	  <!-- <div class="col-25">
		<button class="button button-positive">Proses</button>
	  </div> -->
	</div>
	
	<h4>{{showOperator}}</h4>
	<ul ng-show="showOperator" class="list">
		<li ng-repeat="item in itemOperator | orderBy:''" >
			<a class="item" href="#/app/pulsa/pembelian/{{item.product_id}}/{{noHape}}">
				<h3>{{item.product_name}} <span style="float: right;">{{item.price | currency:"Rp. ":0}}</span></h3>
				<span ng-show="item.ket">{{item.ket}}</span>
			</a>
		</li>
	</ul>

  </ion-content>
</ion-view>
