/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.card { border-radius: 0px; }
/*.card:last-child { border-right: 1px solid rgba(0,0,0,.125) !important; }*/
.card .card-body { padding: 0px; }